<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <LINK REL="STYLESHEET" HREF="StyleA.css">    
    <LINK REL="STYLESHEET" HREF="Style0.css">
    <LINK REL="STYLESHEET" HREF="Style2.css">
</head>
<body>
    <!-- header -->
    <header>
    <div class="navbar">
        <div class="nav-logo border">
            <div class="logo">
        
    </div></div>
    <div class="nav-search border">
        <input class="search-input" placeholder="Search the book">
        <button class="search-icon"><div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i>
    </div></button></div>
    <div class="border" id="Other">
        <a href="HOME.HTML">Home</a>
    </div>
 
    <div class="border" id="Other">
        <a href="CATALOGUE.HTML">Catalogue</a>
    </div>
    <div class="nav-cart border" id="Other">
        <div class="quantity"><span id="quantity">0</span></div>
        <a href="CART.HTML"><i class="fa-solid fa-cart-shopping"></i>Cart</a>

    </div>       
    

    <div class="dropdown border">
        <button class="dropbtn"><i class="fa-solid fa-user"></i>My Account</button>
        <div class="dropdown-content">
            <a href="USER_LOGIN.HTML">Login</a>
            <a href="REGISTRATION.HTML">Signup</a>
        </div>
    </div>
    </div>
</header><br>
    <!-- content -->
    <content>
        <div class="herosection"></div>
        <div class="about">
        <h3>
            Welcome to A - Your Ultimate Destination for Book Lovers!</h3><br><br>

<p>At A, we believe in the transformative power of literature. Our passion for books drives us to curate a diverse collection that caters to every reader's taste and preference. Whether you're a seasoned bookworm or just starting your literary journey, A is your trusted companion on the path to discovery.</p><br><br>

<p>Why choose A? We pride ourselves on offering more than just books; we provide an immersive reading experience that transcends the ordinary. Here's what sets us apart:</p><br><br>

<p><b>Exclusive Offers:</b></p><br> <p>Dive into a world of savings with our exclusive deals and offers on bestselling titles. From discounts to bundle deals, we ensure that your love for reading doesn't break the bank.</p><br><br>

<p><b>Wide Selection:</b></p><br> <p>Explore our extensive catalog spanning across genres, from timeless classics to the latest releases. With a diverse range of titles, there's something for everyone at A.</p><br><br>

<p><b>Personalized Recommendations:</b></p><br> </p>Let us be your literary guide! Our team of avid readers handpicks recommendations tailored to your interests, ensuring that you never miss out on your next favorite read.</p><br><br>

<p><b>Community Hub:</b></p><br> <p>Join our vibrant community of book enthusiasts where you can connect, share insights, and engage in lively discussions. At A, we celebrate the joy of reading together.</p><br><br>

<p><b>Fast and Secure Shipping:</b></p><br> <p>Sit back and relax while we take care of the rest. Enjoy hassle-free shopping with our fast and secure shipping options, ensuring that your books reach you in pristine condition and on time.</p><br><br>

<p>Embark on a journey of literary exploration with A. Whether you're seeking knowledge, inspiration, or pure entertainment, let us be your gateway to the captivating world of books.</p><br><br>

<p>Happy reading!</p><br><br>

<p>Team A</p><br><br>
</div>
</div>
    </content>
    
    <br>
    <!-- footer -->
  <footer>
    <div class="footercontainar">
        <div class="socialicons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footernav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Catalogue</a></li>
                <li><a href="">Cart</a></li>
                <li><a href="">My account</a></li>
            </ul>
        </div>
       
    </div>
    <div class="footerbottom">
        <p>Copyright &copy;2024; Designed by <span class="designer"> Anirban Mondal </span> ID: 211001001059</p>
    </div>
  </footer>


</body>
</html>

